@{
    ViewBag.Title = "User";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="#" alt="Profile Picture"/>
                            </div>
                            <div class="col-md-6">
                                <p>Name: XXXX YYYYYYYY</p>
                                <p>Gender: Woman</p>
                                <p>Email: xxxxx@yyyy.com</p>
                                <p>Birthdate: </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" type="button">Add Friend</button>
                        <button class="btn btn-danger" type="button">Remove Friend</button>
                        <button class="btn btn-info" type="button">Write Message</button>
                        <button class="btn btn-info" type="button">Show Friends</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="well">
            <h3>User Name</h3>
            <div class="divider"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Praesent id justo in neque elementum ultrices. Integer lacinia. Proin in tellus sit amet nibh dignissim sagittis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar.   
            </p>
            <img src="#" alt="Image"/>
            <button class="btn btn-success">Vote</button>
        </div>
        <button class="btn btn-default">Show Comments</button>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading>">
                <h4 class="panel-title">Friendship Requests</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Friendship Request #1
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading>">
                <h4 class="panel-title">Contact List</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Friend #1
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

