@using X.PagedList.Mvc
@using System.Web.Mvc.Html
@model PresentationLayerMVC.Models.Aggregated.HomePageAggregatedViewModel
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search user, hashtag"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="button">Add Post</button>
                        <button class="btn btn-info" type="button">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @for (var i = 0; i < Model.PostListViewModel.Posts.Count; i++)
    {
        <div class="col-md-8">
            <div class="well">
                <h3>
                    @Html.ActionLink(Model.PostListViewModel.Posts[i].User.Username,
                "users/" + Model.PostListViewModel.Posts[i].User.Username,
                new { Area = "" })
                </h3>
                <div class="divider"></div>
                <p>
                    @Html.DisplayFor(model => model.PostListViewModel.Posts[i].Text)
                </p>
                @{
                    //var base64 = Convert.ToBase64String(image);
                    //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="#" alt="Image" />
                <button class="btn btn-success">Vote</button>
            </div>
            <button class="btn btn-default">Show Comments</button>
        </div>
    }
    @if (HttpContext.Current.User.Identity.Name.Length != 0)
    {
        <div class="col-md-4">
            @if (Model.FriendRequestListViewModel.FriendRequests != null
                    && Model.FriendRequestListViewModel.FriendRequests.Count != 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading>">
                        <h4 class="panel-title">Friendship Requests</h4>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @for (var i = 0; i < Model.FriendRequestListViewModel.FriendRequests.Count; i++)
                            {
                                <a href="#" class="list-group-item">
                                    @Html.DisplayFor(model => model.FriendRequestListViewModel.FriendRequests[i].Applicant.Username)
                                </a>
                                <button class="btn btn-success">
                                    <div class="glyphicon glyphicon-ok"></div>
                                </button>
                                <button class="btn btn-danger">
                                    <div class="glyphicon glyphicon-remove"></div>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (Model.FriendListViewModel.Friends != null
            && Model.FriendListViewModel.Friends.Count != 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading>">
                        <h4 class="panel-title">Contact List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @for (var i = 0; i < Model.FriendListViewModel.Friends.Count; i++)
                            {
                                <a href="#" class="list-group-item">
                                    @Html.DisplayFor(model => model.FriendListViewModel.Friends[i].Username)
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
    }
    </div>

